.chat-title { grid-area: chat-title; }
.chat-message-list { grid-area: chat-message-list; }
.chat-form { grid-area: chat-form; }

.conversation { grid-area: conversation;
    display: grid;
    grid: 'conversation-shortcut conversation-search' 50px
          'conversation-shortcut conversation-list' 1fr
          /50px 1fr;
}
.conversation-search { grid-area: conversation-search; }
.conversation-list { grid-area: conversation-list; }
.conversation-shortcut { grid-area: conversation-shortcut; }


.grid-container {
  display: grid;
  grid:
    'conversation chat-title' 50px
    'conversation chat-message-list' 1fr
    'conversation chat-form' 50px
    /500px 1fr;
  background-color: #2196F3;
  padding: 10px;
  width: 100% - 40px;
  height: 95vh ;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  border: 1px solid #fff;
}

.conversation > div {
    padding: 10px;
    border: 1px solid #fff;
    background-color: rgba(23, 136, 177, 0.8);
}
